title,
script {
    display: none;
}

* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.rock-image,
.paper-image,
.scissors-image {
    width: 100px;
    height: auto;
}